<%- contentFor('accounts') %>
<section class="accounts">
	<div class="accounts-content">
		<h2>Accounts</h2>
		<p>Blockchain accounts management</p>
	</div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Accounts Page
</div>
