<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2>Smart Contracts</h2>
		<p>Blockchain smart contracts management</p>
	</div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>
