<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2>Transactions</h2>
		<p>Blockchain transactions processing</p>
	</div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>
